.container {
    margin: 0;
    border-bottom: 1px solid rgb(229, 231, 235);
    padding: .5rem 1.5rem;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.app-info p {
    text-align: left;
    margin: 0;
}

.app-info .app-name {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(99, 102, 241);
}

.app-info .author {
    margin: -4px 0 0;
    font-size: .75rem;
    font-weight: 500;
    color: rgb(55, 65, 81)
}