.container {
    display: block;
    width: 16rem;
    margin: 0;
    border-right: 1px solid rgb(229, 231, 235);
}

.preference-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(229, 231, 235);
    padding: 1rem 2rem;
}

.preference-header {
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(0, 0, 0);
}

.schedule-input-container {
    flex: 1;
    margin-top: .25rem;
}

.schedule-label {
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(0, 0, 0);
}

.difficulty-checkboxes-container {
    flex: 1;
    margin-top: .25rem;
}

.difficulty-label {
    text-transform: capitalize;
    font-weight: 500;
    margin-left: .75rem;
    font-size: .875rem;
    line-height: 1;
    cursor: pointer;
}

