.container {
    margin: 0;
    padding: 1.5em 1.5rem;
    display: block;
    flex: 1;
    background-color: rgb(249 250 251);
}

.problem-set-header {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
}

.problem-set-intro {
    margin: .5rem 0 0 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: rgb(107 114 128);
}