#root {
  max-width: 100vw;
  margin: 0;
  text-align: center;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  text-align: start;
}
.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}